@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --slate300: hsl(212, 45%, 89%);
  --slate500: hsl(216, 15%, 48%);
  --slate900: hsl(218, 44%, 22%);

}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--slate300);
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  min-height: 100vh;
  padding-inline: 16px;
}

.card {
  background-color: var(--white);
  border-radius: 20px;
  padding: 16px 16px 40px 16px;
  max-width: 320px;
}

.card__img {
  border-radius: 10px;
  width: 100%;
}

.card__texts {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  padding: 16px;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
}

.card__description {
  font-size: 15px;
  letter-spacing: 0.2px;
  line-height: 140%;
}

.card__title,
.card__description {
  color: var(--slate900);
  text-align: center;
  margin: 0;
}

.attribution span {
  font-size: 13px;
}